/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500,600&display=swap');*/

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}


body{
    border: none;
    color: black !important;
    text-shadow: none !important;
    background-color: none;
    background-image: none;
    background: none !important;
    height:100vh !important;
}

/* TITOLI IN POPPINS BOLD E SEMIBOLD */
h1{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    color: white !important;
    text-shadow: none !important;
    margin:0 !important;
    margin-bottom: 20px !important;
}

h2{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: white !important;
    text-shadow: none !important;
    margin:0 !important;
    margin-bottom: 20px !important;
}

/* PARAGRAFI IN MONTSERRAT MEDIUM */
p, ol li{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: white !important;
    text-shadow: none !important;
    margin:0 !important;
    text-align: left;
}


/* ICONE MAIN PAGE */
.trasparent-btn{
    box-shadow:none !important;
    background:none !important;
    background-color:none !important;
    border:none !important;
}

.main-icons{
    width: 40px !important;
    height: 40px !important;
}

#range, #settings{
    margin-top: 20px !important;
}

#help{
    margin-top: 100px !important;
}


/*BOX SWIPE UP*/
.box{
    position:fixed;
    bottom:-100%;
    height: 15vh;
    width: 100%;
    background: rgba(25,0,4,.85);
    display: block;
    z-index: 999999;
    border-radius: 10px;
    padding-left: 0;
    margin: auto;
    text-align: center;
}

.box-icons{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    transform: translateY(-50%);
}


#art{
    left: 8.33%;
}


#architecture{
    /*left: 40.5%;*/
    /*right: 41.66%;*/
    left: 50%;
    transform: translate(-50%, -50%);
}


#secret_spots{
    right: 8.33%;
}


/* FOOTER */

#footer {
    background-color: none !important;
    background-image: none !important;
    background: none !important;
    border: 0px solid #aaa !important;
    padding-bottom: 50px !important;
    padding-left: 0;
}


/* WELCOME POPUPS */
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    width: 80%;
    text-align: center;
    box-sizing:border-box;
    background: rgba(25,0,4,.85);
    border-radius: 10px;
}

#welcome-popup, #settings-popup{
    padding: 7%;
}

#category-popup, #help-popup{
    padding: 7% 3% 0 3%;
}

#range-popup{
    padding: 5% 3% 6% 3%;
}

#error-popup{
    padding: 7% 5% 7% 5%;
}

#welcome-popup p{
    text-align: center !important;
}

.select-category{
    padding: 5%;
    text-align: left;
    margin: 0px;
}

.icon-mini{
    width: 50px !important;
    height: 50px !important;
    margin-right: 8%;
    float: left;
}

#category-popup-text{
    padding: 0 4% 0 4%;
}

#category-popup-text p,
#range-popup p{
    text-align: center !important;
}


.elenco{
    margin-bottom: 10px;
    overflow: hidden !important;
    display: flex;
    align-items:center;
}

.elenco-testo{
    float: left;
}

#error-button{
    background-color: #720026;
    border: 2px solid #720026;
    color: white;
    border-radius: 10px;
    width: auto;
    margin:0 auto;
    margin-top: 20px;
    transition-duration: 0.4s;
}

#error-button:hover{
    background-color: transparent;
}

/* ANEDDOTI */
.box-aneddoti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 85%;
    text-align: center;
    box-sizing:border-box;
    vertical-align: middle;
}

.inner-box-aneddoti{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    height: auto;
    width: 100%;
}

#img-aneddoto{
    height: auto;
    width: 100%;
    margin-bottom: 5%;
}

#box-txt-aneddoti{
    height: 25vh;
    width: 100%;
    text-align: center;
    box-sizing:border-box;
    background: rgba(25,0,4,.85);
    border-radius: 10px;
    padding: 3%;
}

#box-txt-inner{
    overflow: scroll;
    width: 90%;
    height: 40%;
    text-align: center;
    margin: 0 auto;
}

#box-txt-inner::-webkit-scrollbar {
    display: none;
}


#aneddoto-play, #aneddoto-pause{
    height: auto;
    width: 15%;
    margin: 0 0 5% 0;
}

/* MANI TUTORIAL */

.hand{
    height: 60px;
    width: 60px;
    position: absolute;
}

#hand-choose{
    top: 0;
    left: 8.33%;
    right: 0;
    bottom: 0;
}

.hand-bottom{
    position: absolute;
    width: 100%;
    bottom: 23vh;
}

#hand-close{
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    margin: 0;
}

#hand-next{
    transform: translateY(-25%);
    top: 25%;
    right: 0;
    margin: 0;
}

#hand-scroll{
    transform: translateX(-50%);
    top: 80%;
    left: 50%;
    margin: 0;
}


/* POPUP SETTINGS */

#l-italiano, #l-english{
    margin-top: 10%;
    margin-bottom:10%;
    width: 20%;
    height: auto;
}

#l-italiano{
    margin-right: 15%;
    box-shadow: 0px 0px 20px 1px #FFFFFF;
}

#l-english{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.popup p span {
    color: #FF7F51;
}

.close{
    position: absolute;
    height: 50px;
    width: auto;
    top: 0;
    right: 0;
}

/* POPUP HELP */
.icon-help{
    margin-top: 2%;
    height: 40px;
    width: auto;
}

.icon-play-text{
    margin-bottom: 4%;
    height: 35px;
    width: auto;
}

#help-popup{
    padding: 10% 2% 0 2%;
}

.help-text{
    padding: 0 2% 0 2%;
    text-align:left;
}

#help-popup h1{
    font-size: 21px !important;
}

#image-slider{
    width: auto;
    height: 40px;
}
/* SLIDER */

/* Hide the number input */
.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin: 0 auto;
    width: 50%;
}

.slider-container{
    margin: auto;
    text-align: center;
}

/* fixes focus scrolling*/
html .ui-page-active {
    overflow: hidden !important;
}


/* SLIDER RANGE 
.box .ui-slider-track {
    margin-left: 15px;
}*/